---
---
@import "{{ site.theme }}";

// サイドバーの画像を丸く、小さめにする
header img {
  border-radius: 50%;
  width: 120px;   // ここでサイズを調整できます
  height: 120px;
  object-fit: cover;
}
// サイドバーの「maintained by...」などの文字をまとめて隠す
header p.view, header ul {
  display: none;
}
// 名前（title）を改行させる
header h1 {
  white-space: pre-line; // スペースや改行を反映させる設定
}
