---
---
@import "{{ site.theme }}";

// サイドバーの画像を丸く、サイズ調整
header img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

// サイドバーの不要なボタンやテキストを隠す
header p.view, header ul {
  display: none;
}

// 名前(h1)と説明文(p)の両方で改行(\n や <br>)を有効にする
header h1, header p {
  white-space: pre-line;
}
